<html>
<h1> Welcome to Makers BnB! </h1>

<form class="sign-up" action="/signup" method="get">
<input type="submit" value="Sign Up">
</form>

<form class="log-in" action="/log_in" method="get">
<input type="submit" value="Log In">
</form>

</html>
